<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>293964735920-rq23po6p1jaig12ej8q0lnh8mqqqpf2r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.293964735920-rq23po6p1jaig12ej8q0lnh8mqqqpf2r</string>
	<key>API_KEY</key>
	<string>AIzaSyAaXOHDk3G-4-drO4ikuaQ1EqjVTAkgOys</string>
	<key>GCM_SENDER_ID</key>
	<string>293964735920</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uniGather</string>
	<key>PROJECT_ID</key>
	<string>unigather-c4847</string>
	<key>STORAGE_BUCKET</key>
	<string>unigather-c4847.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:293964735920:ios:d1ba060a5cd22a88246275</string>
	<key>DATABASE_URL</key>
	<string>https://unigather-c4847.firebaseio.com</string>
</dict>
</plist>